// Variables to be used in components, etc.
// If these are the same name as Bulma variables,
// it'll override them.
$family-sans-serif: "Archivo", sans-serif;
$size-5: 1.3rem;

$black: #102030;
$white-lighter: #ffffff;
$white: #f6f9fc;
$white-darker: #d6d9dc;
$gray-lighter: #cccccc;
$gray: #64686a;
$gray-darker: #34383a;

$link: #2727c7;
$highlight: #b7ffaf;
$text: hsl(0, 0%, 23%);

