@charset "utf-8";

// Override default in Bulma from our variable names
// This is just mapping our variables to the Bulma stuff we want to override
// Define the variable in _variables.sass then map them here
@use '~/node_modules/bulma/sass' with (
  $family-sans-serif: $family-sans-serif,
  $black: $black,
  $white: $white,
  $grey-lighter: $grey-lighter,
  $grey: $grey,
  $grey-darker: $grey-darker,
  $link: $link,
  $text: $text
);

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Patrick+Hand&family=IBM+Plex+Mono:wght@300;400;500&display=swap');
@import '~/node_modules/leaflet/dist/leaflet.css';

body {
  background-color: $white;
}

.bling {
  background-color: #f1ef93;
}

hr {
  border: 1px solid $black;
  &.light {
    border: 1px dashed $grey-lighter;
  }
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 769px) {
  .border-left {
    border-left: 1px dashed $grey-lighter;
  }

  .border-right {
    border-right: 1px dashed $grey-lighter;
  }

  .border-bottom {
    border-bottom: 1px dashed $grey-lighter;
  }
}

// Clamp some content types to more readable width.
.clamp {
  p,
  h2,
  h3,
  code {
    max-width: 50rem;
  }
}
