@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Patrick+Hand&family=IBM+Plex+Mono:wght@300;400;500&display=swap');
@import '~/node_modules/leaflet/dist/leaflet.css';

// Import the rest of Bulma.
// Overrides to Bulma varibles go in styles/_variables.scss
@import '~/node_modules/bulma/bulma.sass';

.bling {
  background-color: #f1ef93;
}

hr {
  border: 1px solid $black;
  &.light {
    border: 1px dashed $gray-lighter;
  }
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 769px) {
  .border-left {
    border-left: 1px dashed $gray-lighter;
  }

  .border-right {
    border-right: 1px dashed $gray-lighter;
  }

  .border-bottom {
    border-bottom: 1px dashed $gray-lighter;
  }
}

.xray {
  p, li {
    max-width: 60rem;
  }
}

// Clamp some content types to more readable width.
.clamp {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}
